@import "tailwindcss";

@theme {
    --color-background: #0a0a0a;
    --color-surface: rgba(255, 255, 255, 0.05);
    --color-primary: #00f0ff;
    --color-secondary: #bf00ff;
    --color-text: #ffffff;
    --color-text-dim: rgba(255, 255, 255, 0.6);
    --font-sans: Inter, sans-serif;
}

@layer base {

    html,
    body,
    #root {
        @apply h-full w-full p-0 m-0;
    }

    body {
        @apply bg-background text-text font-sans antialiased overflow-hidden;
    }
}